.header_menu{
  background-color: goldenrod;
  border-radius: 20px;
  padding: 10px 10px;

}
.container{
  max-width: 1200px;
  margin: 0 auto;
}

.header_menu_wraper{
gap: 25px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.menu{
display: flex;
}
.menu_list{
  display: flex;
  gap: 15px;
}
.menu_list>li>a{
  text-decoration: none;
  color: black;
  font-size: 18px;
  transition: .3s;
  padding-bottom: 3px;
}
.menu_list>li>a:hover{
  border-bottom: 2px solid #fff;
}
.wraper_registration{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
legend{
  text-align: center;
  margin-bottom: 50px;
  color: chocolate;
  font-size: 38px;
}
.btn{
display: block;
margin: 0 auto;
margin-top: 20px;
padding: 10px;
color: chocolate;
font-size: 15px;
}
.wraper_registration>label{
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: chocolate;
}
.registration{

  background-image: url("../img/hintergrund2.jpeg");
  padding-bottom: 100px;
  padding-top: 50px;
  border-radius: 20px;
}
.logo{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display:block;
}

.search-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-image: url("../img/Hintergrund\ Bild\ Grau.jfif");
  background-repeat: no-repeat;
  background-size: cover;
}

form {
  display: flex;
  flex-direction: column;
}

.search{

}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

select, input[type="text"], input[type="number"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

.price{
  display: flex;
  justify-content: space-around;
  /* padding: 10px; */
  margin-top: 10px;
  margin-bottom: 10px;
}
.price>label{
  display: flex;
  flex-direction: column;
}
/*  */
button {
  border: none;
  color: #fff;
  background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
 }

 button:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
 }

 @keyframes pulse512 {
  0% {
   box-shadow: 0 0 0 0 #05bada66;
  }

  70% {
   box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
   box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
 }

