body {
  background-image: url("../img/bgbody.png");
}

.header_menu {
  background-color: goldenrod;
  border-radius: 20px;
  padding: 10px 10px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header_menu_wraper {
  gap: 25px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
}

.menu_list {
  display: flex;
  gap: 15px;
}

.menu_list>li>a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  transition: .3s;
  padding-bottom: 3px;
  cursor: pointer;
}

.menu_list>li>a:hover {
  border-bottom: 2px solid #fff;
}

.wraper_registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

legend {
  text-align: center;
  margin-bottom: 50px;
  color: chocolate;
  font-size: 38px;
}

.btn {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
  color: chocolate;
  font-size: 15px;
}

.wraper_registration>label {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: chocolate;
}

.registration {

  background-image: url("../img/hintergrund2.jpeg");
  padding-bottom: 100px;
  padding-top: 50px;
  border-radius: 20px;
}

.registration_title {
  text-align: center;
  color: chocolate;
  margin-bottom: 20px;
  font-size: 42px;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: block;
  cursor: pointer;
}

.search-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-image: url("../img/Hintergrund\ Bild\ Grau.jfif");
  background-repeat: no-repeat;
  background-size: cover;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

select,
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

.price {
  display: flex;
  justify-content: space-around;

  margin-top: 10px;
  margin-bottom: 10px;
}

.price>label {
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  color: #fff;
  background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
}

button:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

.wraper-cars-foto>img {
  width: 500px;
  display: block;
  border-radius: 20px;
}

.wraper-cars {
  display: flex;
  gap: 100px;
  justify-content: center;
  margin-top: 50px;
}

.wraper-cars-content>h2 {
  color: rgb(51, 51, 51);
  font-weight: 400;
  font-size: 36px
}

.wraper-cars-content-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.wraper-cars-content-list>li {
  color: rgb(51, 51, 51);
  font-weight: 400;
  font-size: 18px;
}

.wraper-cars-content-btn {
  position: relative;
  width: 120px;
  height: 40px;
  background-color: #000;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.wraper-cars-content-btn::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 128px;
  height: 48px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wraper-cars-content-btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.wraper-cars-content-btn:hover::after {
  filter: blur(30px);
}

.wraper-cars-content-btn:hover::before {
  transform: rotate(-180deg);
}

.wraper-cars-content-btn:active::before {
  scale: 0.7;
}

.wraper-cars-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  gap: 25px;
}

.wraper-cars-list-link>img {
  width: 300px;
  height: 200px;
}

.wraper-cars-list>li {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.wraper-cars-list>li>h3 {
  color: rgb(51, 51, 51);
  font-weight: 400;
  font-size: 28px
}

.wraper-cars-list-link {
  cursor: pointer;
  font-size: 20px;
  color: rgb(51, 51, 51);
  letter-spacing: 4px;
  transition: .5s all;
  text-decoration: none;

  :hover {
    transform: scale(1.2);
  }
}

.radio-box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 10px;
}

.will-box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 10px;
}